
.calc{
  height: 57vh;
  width: 20vw;
  background-color: rgb(7, 0, 0);
  padding: 10px;
  border-radius: 12px;
}

.screen{
  background: #262834;
  width: 250px;
  height: 8vh;
  margin:10px;
  border-radius: 10px;
  color: white;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  align-content: flex-end;
  font-size: 20px;
  font-family:cursive;
}

.keypad{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius:50%;
    height: 6vh;
    width: 3vw;
    background:#262834;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-size: 24px;
    margin: 8px;
    
}

.equal{
  background-color: coral;
}
