.calc{
  height: 50vh;
  width: 20vw;
  background-color: rgb(7, 0, 0);
  padding: 10px;
  border-radius: 12px;
}

.screen{
  background: #262834;
  width: 200px;
  height: 8vh;
  margin: auto;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.keypad{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}


button{
  border-radius: 5px;
  height: 6vh;
  width: 3vw;
  background:#262834;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  margin: 10px;
}

.equal{
  background-color: coral;
}
